body{
  background-color: #FFEE99
}
table,tr,th,td{
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
table{
  margin-left:auto;
  margin-right:auto;
  background-color: #fee873
}
h1{
  text-align: center;
  color: #7131d9;
  font-size: 45;
}
.btn{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
