body{
  background-color: #FFEE99
}
table,th,tr,td{
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
table{
  margin-left:auto;
  margin-right:auto;
  background-color: #fee873
}
h1{
  text-align: center;
  font-weight: 900;
  color: #ee4848;
  font-size: 45px;
}

.btn{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
