body{
  background-color: #FFEE99;
}
table,tr,td{
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  padding: 15px;
}
table{
  margin-left:auto;
  margin-right:auto;
  background-color: #21d6d1;
}
h1{
  text-align: center;
  color: #b531d6;
  font-size: 45px;
}
